/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}
/* #region顶部导航条 */
.Top-navigation {
    height: 30px;
    background-color: #ECECEC;
}
.welcome {  
     height: 30px;
     color: #666666;
     line-height: 30px;
     font-size: 12px;
}
.welcome span,.welcome a {
    
     font-size: 12px;   
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid black;
}
.welcome .registration {
    margin-left: 10px;
}
.right-navgation .list li {
     float: left;
}
.right-navgation .list li a {
    line-height: 30px;
    font-size: 12px;
    padding: 0 15px;
    border-right: 1px solid black;
   
}
.right-navgation .list li:first-child a {
    padding-left: 0;
}
.right-navgation .list li:last-child a {
    padding-right: 0;
    border: 0;
}
/* #endregion 顶部导航条 */


/* #region头部 */
/* 左侧 */
.header {
    height: 120px;
    background-color: #FFFFFF;
}
.header .logo {
    margin-left: 0;
}
.header .logo:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 2s;
}
/* 右侧 */
.header .search {
    margin-top: 42px;
    font-size: 0;
}
.header .search-box {
    
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D ;
    margin-right: 0;
}
.header .search button {
    width: 80px;
    height: 37px;
    background-color: #DD302D;
    border: none;
    vertical-align: top;
    background-image: url("../images/serch_icon.png");
    background-position: center;
    background-repeat: no-repeat;
}
.header .search button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.6s;
}


/* #endregion头部 */

/* #region 主导航区 */
.main-nav .all-types {
    width: 190px;
    height: 48px;
    background: #DD302D;
    color: #FFFFFF;
    text-align: center;
    line-height: 48px;
}
.main-nav-list {
    height: 48px;
    line-height: 48px;
}
.main-nav-list li {
    float: left;
    margin: 0 10px;
}
.main-nav-list li a {
    color: #333333;
}
.main-nav-list li a:hover {
    color: red;
}
/* #endregion 主导航区*/

/* #region 主要内容区 */
.main-content {
    margin-top: 10px;
}
.main-content .slide-nav {
    width: 190px;
    height: 480px;
    background-color: #fefefe;
    position: relative;
}
.main-nav .slide-nav li {
   
    font-family: PingFangSC-Medium;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin-left: 16px;
}
.main-nav .slide-nav li:hover {
    background-color: #ECECEC;
}
.main-nav .slide-nav li:hover>a {
    transition: 0.3 red;
}
.second-menu1 {
    width: 680px;
    height: 480px;
    background-color:#fefefe;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    margin-left: 2px; 
    display: none;
}
.main-nav .slide-nav li:hover .second-menu1 {
    display: block;
}
.second-menu1 dl {
    height: 36px;
    line-height: 36px;
}
.second-menu1 dl:first-child {
    margin-top: 10px;
}
.second-menu1 dt {
    float: left;
    width: 100px;
    font-weight: bold;
    /* margin-right: 30px; */
   
}
.second-menu1 dd {
    float: left;
    margin-right: 15px;
}
/* #endregion 主要内容区 */
